.main {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(4, minmax(25%, auto)); */
  width: var(--max-width);
  margin-bottom: 10px;
}

.h1 {
  color:black
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 1 calc(50% - 16px)
}

.tags {
  flex: 1 1 calc(20% - 16px);
}

@media (min-width: 250px) and (max-width: 599px) {
  .h1 {
    font-size: medium;
  }
  .text1 {
    font-size: medium;
    font-weight: 600;
  }

  .text2 {
    font-size: small;
  }
  .grid {
    /* grid-template-columns: 1fr; */
    max-width: 30ch;
    text-align: center;
  }

}

/* Mobile */
@media (min-width: 600px) and (max-width: 700px) {
  .h1 {
    font-size: large;
  }
  .text1 {
    font-size: large;
    font-weight: 600;
  }

  .text2 {
    font-size: medium;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    /* grid-template-columns: 1fr; */
    max-width: 60ch;
    text-align: center;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1800px) {
  .grid {
    /* grid-template-columns: repeat(2, 50%); */
    width: 60ch;
  }

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
